{% extends "base_templates/base.html" %}
{% block title %}Create a New Account {% endblock %}
{% block head %}
    {{ super() }}

    <!-- Custom CSS -->
    <link href="static/oms/gigs/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{% endblock %}
{% block body %}
<div class="main-wrapper">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(static/oms/gigs/assets/images/big/auth-bg.jpg) no-repeat center center;">
        <div class="auth-box">
            <div>
                <div class="logo">
                    <span class="db"><a href = "" ><img src="static/oms/gigs/assets/images/logo.png" alt="logo" /></a></span>
                    <h5 class="font-medium mb-3">Sign Up to Admin</h5>
                </div>
                <!-- Form -->
                <div class="row">
                    <div class="col-12">
                        <!-- form start -->
                        <form method="POST" class="form-horizontal mt-3" id="loginform" action="{{ url_for('auth.signup')}}">
                            {{ register_form.csrf_token }}
                            <div class="card-body">
                                {% if register_form.errors %}
                                {% for field in register_form.errors %}
                                {% for error in register_form.errors[field] %}
                                    <div class="alert alert-error">
                                        <strong>Error!</strong> {{error}}
                                    </div>
                                {% endfor %}
                                {% endfor %}
                                {% endif %}
                            <div class="form-group row ">
                                <div class="col-12 ">
                                    {{ register_form.name(class= "form-control form-control-lg", placeholder="Name") }}
                                </div>
                            </div> 
                            <div class="form-group row ">
                                <div class="col-12 ">
                                    {{ register_form.email(class= "form-control form-control-lg", placeholder="Email") }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 ">
                                    {{ register_form.password(class= "form-control form-control-lg", placeholder="Password") }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 ">
                                    {{ register_form.confirm_password(class= "form-control form-control-lg", placeholder="Confirm Password") }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12 ">
                                    <div class="custom-control custom-checkbox">
                                        {{register_form.terms(class="custom-control-input", id="customCheck1")}}
                                        <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms & Services</a></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center ">
                                <div class="col-xs-12 pb-3 ">
                                    <button class="btn btn-block btn-lg btn-info " type="submit ">SIGN UP</button>
                                </div>
                            </div>
                            <div class="form-group mb-0 mt-2 ">
                                <div class="col-sm-12 text-center ">
                                    Already have an account? <a href="/" class="text-info ml-1 "><b>Sign In</b></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper scss in scafholding.scss -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper scss in scafholding.scss -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right Sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right Sidebar -->
    <!-- ============================================================== -->
</div>
</body>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="static/oms/gigs/assets/libs/jquery/dist/jquery.min.js "></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="static/oms/gigs/assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="static/oms/gigs/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    $('[data-toggle="tooltip "]').tooltip();
    $(".preloader ").fadeOut();
    </script>
{% endblock %}