{% macro render_admin_files(file_form, order) %}
<form enctype="multipart/form-data" method="post" action ="{{url_for('admin.upload_order_files', order_id = order.id)}}">
    {{ file_form.csrf_token }}
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                {{ file_form.description(placeholder= "File description", class="form-control")}}
            </div>
        </div>
        <!--/span-->
        <div class="col-md-7">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload Files</span>
                </div>
                <div class="custom-file">
                    {{ file_form.files(placeholder= "Choose files. Hold shift to select multiple", class="form-control")}}
                </div>
            </div>

        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-rounded btn-primary">Upload Files</button>                
        </div>
        <!--/span-->
    </div>

</form>
{% if order.files|length > 0 %}
<table class = "table table-striped">
    <thead class ="bg-primary text-white">
        <tr class="border-0">
            <th class="border-0">Description</th>
            <th class="border-0">File type</th>
            <th class="border-0">Download Files</th>

        </tr>
    </thead>
    {% for file in order.files%}
    <tr>
        <td> {{file.description}} </td>
        <td> {{file.type.value}} </td>
        <td>
            {% set file_name = file.file_location.split('\\') %}
            <a href="{{file.file_location}}" target="blank" download> {{ file_name[-1]}}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="alert alert-primary"> <i class="ti-notepad"></i> No new files have been uploaded for this order. </a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span></button>
</div>
{% endif %}
{% endmacro %}


{% macro render_message_form(message_form, order) %}
<form  method="post" action ="{{url_for('admin.send_message', order_id = order.id)}}">
    {{ message_form.csrf_token }}
    <div class="form-group">
        {{ message_form.subject(class="form-control", placeholder = "Subject") }}
    </div>
        <div class="form-group">
            To: {{ message_form.to_department(class="form-control") }}
        </div>
        <div class="form-group">
            From: {{ message_form.from_department(class="form-control") }}
        </div>

            {{ message_form.message(class="summernote") }}
        
<button type="submit" class="btn btn-rounded btn-primary">Send Message</button>
</form>
{% endmacro %}

{% macro render_admin_order(order) %}
<div class="table-responsive">
    <table class="table table-hover table-primary">
        <thead class="bg-primary text-white">
            <tr>
                <th scope="col"><strong>Order Status:</strong></th>
                <td scope="col">{{order.status.value}}</td>
                <th scope="col"><strong>Writer Assigned</strong></th>
                <td scope="col">
                    {% if order.writer.name != "" %}
                        {{order.writer.name}}
                    {% else %}
                    <strong>None</strong>
                    {% endif %}
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col"><strong>Date:</strong></th>
                <td scope="col">{{order.deadline.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                <th scope="col"><strong>Time remaining:</strong></th>
                <td scope="col">{{order.time_remaining}}</td>
            </tr>
            <tr>
                <th><strong>Topic:</strong></th>
                <td>{{order.topic}}</td>
                <th scope="row"><strong>Paper Length:</strong></th>
                <td>
                    {% if order.paper_length.is_integer()  %} {{ order.paper_length|int}} {% else %} {{ order.paper_length|string }} {% endif %}{{order.page_words.value}}</td>
            </tr>
            <tr>
                <th scope="row"><strong>Description:</strong></th>
                <td colspan="3" style = "white-space: pre-wrap;" >{{order.description}}</td>
            </tr>
            <tr>
                <th><strong>Audience:</strong></th>
                <td>{{order.audience}}</td>
                <th scope="row"><strong>Medium:</strong></th>
                <td>{{order.medium}}</td>
            </tr>
            <tr>
                <th><strong>Article Tone:</strong></th>
                <td>{{order.tone}}</td>
                <th scope="row"><strong>Point of View:</strong></th>
                <td>{{order.person.value}}</td>
            </tr>
            <tr>
                <th><strong>English Variety:</strong></th>
                <td>{{order.english_country.value}}</td>
                <th scope="row"><strong>Example article:</strong></th>
                <td>{{order.example}}</td>
            </tr>
            <tr>
                <th scope="row"><strong>SEO Keywords:</strong></th>
                <td colspan="3">{{order.seo}}</td>
            </tr>
            <tr>
                <th scope="row"><strong>Business Descriptions:</strong></th>
                <td colspan="3" style = "white-space: pre-wrap;">{{order.description}}</td>
            </tr>
            <tr>
                <th scope="row"><strong>Comments:</strong></th>
                <td colspan="3">{{order.comments}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro render_messages(messages) %}
{% if messages|length > 0 %}

<div class="mail-list bg-white">
<div class="table-responsive">
    <table class="table email-table no-wrap table-hover v-middle">
        <tbody>
            {% for message in messages %}
            {% set msg = message.threads|last %}
            <!-- row -->
            <tr class="">
                <!-- User -->
                <td class="user-image"><img src="static/oms/gigs/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="30"></td>
                <td class="user-name">
                    <h6 class="mb-0">{{ msg.sent_from.value }}</h6>
                </td>
                <!-- Message -->
                <td class="max-texts"> <a class="link" href="{{url_for('admin.view_message', message_id = message.id)}}"><span class="label label-info mr-2">Work</span>{{ message.subject }}</a></td>
                <!-- Attachment -->
                <td class="clip"><i class="fa fa-paperclip"></i></td>
                <!-- Time -->
                <td class="time"> {{ msg.timestamp}} </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
</div>
{% else %}
            <div class="alert alert-primary"> <i class="ti-notepad"></i> No messages yet.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span></button>
            </div>
            {% endif %}
{% endmacro %}



{% macro render_single_message(detailed_message, order_id) %}
<!----------------------------------------------------->
<div class="card-body bg-light">
    <a href="{{url_for('admin.view_order_messages', order_id = order_id) }}" class="btn btn-outline-secondary font-18 mr-2"><i class="mdi mdi-arrow-left"></i></a>
</div>
<!----------------------------------------------------->
<div class="card-body border-bottom">
    <h4 class="mb-0">{{detailed_message.subject}}</h4>
</div>
<!----------------------------------------------------->
<div class="card-body border-bottom">
    <div class="d-flex no-block align-items-center mb-5">
        <div class="mr-2"><img src="static/oms/gigs/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="45"></div>
        <div class="">
            <h5 class="mb-0 font-16 font-medium">{{detailed_message.sent_from.value}}<small> ( hgover@gmail.com )</small></h5><span>to {{detailed_message.sent_to.value}}</span>
        </div>
    </div>
    {{detailed_message.message|safe}}
</div>
<div class="card-body">
    <h4><i class="fa fa-paperclip mr-2 mb-2"></i> Attachments <span>(3)</span></h4>
    <div class="row">
        <div class="col-md-2">
            <a href="javascript:void(0)"> <img class="img-thumbnail img-responsive" alt="attachment" src="static/oms/gigs/assets/images/big/img1.jpg"> </a>
        </div>
        <div class="col-md-2">
            <a href="javascript:void(0)"> <img class="img-thumbnail img-responsive" alt="attachment" src="static/oms/gigs/assets/images/big/img2.jpg"> </a>
        </div>
        <div class="col-md-2">
            <a href="javascript:void(0)"> <img class="img-thumbnail img-responsive" alt="attachment" src="static/oms/gigs/assets/images/big/img3.jpg"> </a>
        </div>
    </div>
</div>
{% endmacro %}





{% macro render_orders_table(orders) %}
{% if orders|length > 0 %}
<div class="table-responsive">
    
    <table class="table no-wrap v-middle">
        <thead>
            <tr class="border-0">
                <th class="border-0">Order Id</th>
                <th class="border-0">Writer assigned</th>
                <th class="border-0">Topic</th>
                <th class="border-0">Deadline</th>
                <th class="border-0">No. of Pages/Words</th>
                <th class="border-0">Price</th>
                <th class="border-0">Status</th>
                <th class="border-0">View</th>
            </tr>
        </thead>
        <tbody>
            
            {% for order in orders %}
            <tr>
                
                <td><a href ="{{url_for('admin.edit_order', order_id = order.id)}}">#{{order.id}}</a></td>
                <td>
                    {% if order.writer.name|length > 0 %}
                        <h5 class="mb-0 font-16 font-medium">{{ order.writer.name }}</h5><span>{{order.writer.email}}</span>
                    {% else %}
                        <span>No writer assigned</span>
                    {% endif %}
                </td>
                <td><a href ="{{url_for('admin.edit_order', order_id = order.id)}}">{{order.topic}}</a></td>
                <td><a href ="{{url_for('admin.edit_order', order_id = order.id)}}">{{ order.difference }}</a></td>
                <td><a href ="{{url_for('admin.edit_order', order_id = order.id)}}">{% if order.paper_length.is_integer()  %} 
                    {{ order.paper_length|int}} 
                {% else %} 
                    {{ order.paper_length|string }} {% endif %}{{order.page_words.value}}
                </a></td>
                <td class="blue-grey-text  text-darken-4 font-medium">KES {{order.price }}</td>
                <td>
                    {% if order.status.value == "In Progress" %}
                        <i class="fa fa-circle text-orange" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{order.status.value}}"></i> {{order.status.value}}
                    {% elif order.status.value == "Reassigned" %}
                        <i class="fa fa-circle text-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{order.status.value}}</i> {{order.status.value}}
                    {% elif order.status.value == "Unassigned" %}
                        <i class="fa fa-circle text-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{order.status.value}}"></i> {{order.status.value}}
                    {% elif order.status.value == "Bid Status" %}
                        <i class="fa fa-circle text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{order.status.value}}"></i> {{order.status.value}}
                    {% elif order.status.value == "Completed" %}
                        <i class="fa fa-circle text-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{order.status.value}}"></i> {{order.status.value}}
                    {% elif order.status.value == "Revision" %}
                        <i class="fa fa-circle text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{order.status.value}}"></i> {{order.status.value}}
                    {% elif order.status.value == "Finished" %}
                        <i class="fa fa-circle text-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{order.status.value}}"></i> {{order.status.value}}
                    {% elif order.status.value == "Paid" %}
                        <i class="fa fa-circle text-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{order.status.value}}"></i> {{order.status.value}}
                    {% endif %}
                </td>
                <td><a type="button" href="{{url_for('admin.edit_order', order_id = order.id)}}" class="btn waves-effect waves-light btn-rounded btn-primary">View Details</a></td>
                
            </tr>
            {% endfor %}
            
            
        </tbody>
    </table>
    
</div>
{% else %}
<div class="alert alert-primary"> <i class="ti-notepad"></i> No orders in database yet. <a href={{url_for('admin.create_order')}}>Click to add a new order here </a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span></button>
</div>
{% endif %}
{% endmacro %}


<!-------unpaid orders macro-->
{% macro render_unpaid_orders(orders, form, zip) %}
{% if orders|length > 0 %}
<div class="card">
<div class="card-body">
    <h4 class="card-title">Order Overview</h4>
    <h6 class="card-subtitle">Unpaid Orders summary</h6>
    <form  method="post" action ="{{url_for('admin.unpaid_orders')}}">
        {{ form.csrf_token }}
    <table data-toggle="table" data-height="250" data-mobile-responsive="true" class="table-striped">
        <thead>
            <tr>
                <th>Order No</th>
                <th>Writer's Name</th>
                <th>Paper Length</th>
                <th>Price</th>                
                
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(sum = 0) %}
            {% for order, checkbox_field in zip(orders, form) %}
            {% set ns.sum = order.price + ns.sum %}
            <tr>
                <td>#{{  order.id }}</td>
                <td>{{ order.writer.name }}</td>
                <td>{{ print_length(order.paper_length, order.page_words.value) }}

                </td>
                <td>KES {{ order.price }}/=</td>
                <td>{{ checkbox_field(checked=True) }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"><strong>Total Amount Pending:</strong></td>
                <td><strong>KES {{ ns.sum }}/=</strong></td>
                <td><strong><input type="submit" value="Process Payment"></strong></td>
            </tr>
        </tbody>
    </table>
</form>
</div>
</div>
{% else %}
            <div class="alert alert-info"> <i class="ti-notepad"></i> No pending payments.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span></button>
            </div>
            {% endif %}
{% endmacro %}


<!--Format length of paper--->
{% macro print_length(length, length_type) %}
{% if length.is_integer()  %} 
{{ length|int}} 
{% else %} 
{{ length|string }} {% endif %}{{ length_type }}
{% endmacro %}