{% include "./header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Withdrawal Transactions</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Customer List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!---Flask content goes here-->
        <!-------------------------------------------------------------------------->
        
        <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Recent Withdrawals</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Customer ID</th>
                      <th>customer name</th>
                      <th>Amount</th>
                      <th>Transaction Time</th>
                      <th>Transaction Type</th>
                      <th>account type</th>
                      <th>Make Withdrawal</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for transaction in withdraws %}
                    <tr>
                      <td>#{{transaction.customer.id}}</td>
                      <td>{{transaction.customer.user.name}}</td>
                      <td><span >{{ transaction.amount }}</span></td>
                      <td><span >{{transaction.transaction_time}}</span></td>
                      <td><span >{{transaction.transaction_method}}</span></td>                      
                      <td><span >{{transaction.customer.branch}}</span></td>
                      <td><a href="/find_customer_withdraw?customer_id={{transaction.customer.id}}"><button type="button" class="btn btn-block btn-primary btn-xs">Withdraw</button></a></td>
                     
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->

            
                 
        
        <!--------------------------------------------------------------------------->
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% include "./base.html" %}
  