{% include "./header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Customer List</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Customer List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!---Flask content goes here-->
        <!-------------------------------------------------------------------------->
        
        <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title">View All Customers</h2>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Account Number</th>
                      <th>Customer Name</th>
                      <th>Customer Email</th>
                      <th>Phone Number</th>
                      <th>Date of Birth</th>
                      <th>Gender</th>
                      <th>Account Type</th>
                      <th>Bank Branch</th>
                      <th>Bank Balance</th>
                      <th>Deposit</th>
                      <th>Withdraw</th>
                      <th>Edit Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for customer in customers %}
                    <tr>
                      <td><span>{{ customer.id }}</span></td>
                      <td>{{ customer.user.name }} </td>
                      <td>{{ customer.user.email }} </td>
                      <td>{{ customer.mobile }} </td>
                      <td>{{ customer.date_of_birth }} </td>
                      <td><span>{{ customer.gender}}</span></td>
                      <td><span >{{customer.account_type}}</span></td>
                      <td><span >{{customer.branch}}</span></td>
                      <td><span ><strong>{{customer.bank_balance}}</strong></span></td>
                      <td><a href="/find_customer_deposit?customer_id={{customer.id}}"><button type="button" class="btn btn-block btn-primary btn-xs">Deposit</button></a></td>
                    <td><a href="/find_customer_withdraw?customer_id={{customer.id}}"><button type="button" class="btn btn-block btn-success btn-xs">Withdraw</button></a></td>
                      <td><a href="#"><button type="button" class="btn btn-block btn-primary btn-xs">Edit Customer</button></a></td>

                    </tr>
                    {% endfor %}
                    
                   
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->

            
                 
        
        <!--------------------------------------------------------------------------->
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% include "./base.html" %}
  